
.card_container {
  position: relative;
  margin: 1px auto;
  padding: 3px;
  width: 9em;
  height: 12em;
  line-height: 12em;
  z-index: 1;
}
.card_container {
  -moz-perspective: 1000px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}
.card {
  background-color: #68c39f;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 1px 2px #ccc;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-transition: all .25s linear;
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip .card{
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  cursor: none;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  color: white;
  font-size: 7.5em;
  background-color: #FFCC66;
  border-radius: 3px;
  -moz-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  margin: 0 auto;
}

.timer {
  display: block;
  margin: 10px auto;
  position: relative;
  width: 150px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  border-radius: 25px;
  border: 2px solid #1abc9c;
  font-size: 40px;
  text-align: center;
  color: #999;
}

.matched {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5px auto;
  width: 150px;
  height: 30px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #1abc9c;
  font-size: 20px;
  text-align: center;
  justify-content: center;
  color: #999;
}

.startbtn {
  display: block;
  margin: 10px auto;
  position: relative;
  text-align: center;
}

.critical {
  color: red;
}

.cntr {
  margin: 15px auto;
}

.points {
  position: absolute;
}

.state {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: space-around;
  align-items: flex-end;
  display: flex;
  pointer-events: none;
}

.state-item {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}

.counter {
  color: purple;
  background-color: #ffced0;
  position: absolute;
  bottom: 100%;
  height: 35px;
  width: 70px;
  font-size: 20px;
  border-radius: 70px 70px 0 0;
  box-shadow: 0 -5px 40px purple;
  z-index: -1;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
